# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.log

# Ignore VS Code settings (optional)
.vscode/

# Ignore dotenv secrets
backend/.env
backend/service_account.json
